node_modules
*Identifier
dist
dist-ssr
*.local

# Ignore MySQL data directory
mysql/data/db/

# Ignore other temporary files or directories
*.log
*.pid
*.sock
*.env

# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignore Python bytecode files
*.pyc
__pycache__/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

flask_session