.header {
  display: block;
  align-items: center;
  height: 84px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  background-color: white;
}

.headerLayout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: auto;
  width: 100%;
  max-width: 1200px;
}

.loginHeaderLayout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: auto;
  padding: 0px 32px;
  width: 100%;
  max-width: 1200px;
}

.headerLogo {
  height: 60px;
  width: 60px;
  margin-top: -8px;
}

.headerButtonLayout {
  display: flex;
  justify-content: space-between;
  width: 248px;
}
