.topScreenFrame {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  justify-content: center;
  align-items: center;
}

.mainArea {
  flex-grow: 1;
  display: flex;
  background-color: rgb(245 247 248 / 1);
  width: 100%;
}

.mainLayout {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 104px auto 30px auto;
  width: 100%;
  max-width: 1200px;
}
