/* ユーザーホーム画面 */
.dashboadLayout {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(12, 1fr);
  flex-grow: 1;
  width: 100%;
  gap: 24px;
  margin-top: 24px;
  max-height: 110vh;
}

.dashboardItem {
  background-color: white;
  border-radius: 3%;
  padding: 12px 16px;
}

.exerciseAnalysisLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 12px 16px;
}

.questionsLayout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
  place-content: center;
  padding: 48px;
}

.rankingDetail {
  display: flex;
  justify-content: center;
  margin: 30%;
  font-size: 30px;
}

.userNoticeDetail {
  margin-top: 30px;
  margin-left: 27px;
  margin-right: 27px;
  color: #05488f;
  font-size: 27px;
}

.leftAlignedText {
  text-align: left;
  width: 100%;
}

/* 
  管理者ホーム画面
 */
.adminHomeFrame {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.userNameLayout {
  background-color: white;
  margin-top: 2%;
  height: 80px;
  width: 700px;
  border-radius: 3%;
  display: flex;
  align-items: center;
}

.userName {
  margin-left: 24px;
}

.noticeLayout {
  background-color: white;
  margin-top: 2%;
  height: 280px;
  width: 700px;
  border-radius: 3%;
}

.noticeDetail {
  margin-top: 30px;
  margin-left: 27px;
  color: #05488f;
  font-size: 27px;
}

.noticeTitle {
  margin-left: 24px;
}

.buttonLayout {
  background-color: white;
  margin-top: 2%;
  height: 200px;
  width: 700px;
  border-radius: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonArea {
  width: 80%;
  height: 60%;
  display: flex;
  align-items: center;
  gap: 80px;
}
